body {
    background-color: #73FC77;
    margin: 3em;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

h2, h3, .h4, .h5 {
    font-weight: bold;
}

.navbar-nav  {
    font-weight: bold;
    font-size: large;
}


label, #maxweight, #maxreps, #onerepmax, #datetime, #exercise, #sets, #reps, #weight {
    font-weight: bold;
    font-size: large;
}

form {
    display: flex;
    flex-direction: column;
    justify-items: start;
   
}

input {
    margin-left: 1em;
    padding: 5px;
    font-size: large;
    font-family: 'Times New Roman', Times, serif;
}

p {
    font-size: large;
}